<h1>PROFILE NEW PAGE</h1>

<%= simple_form_for(@profile) do |f| %>
  <%= f.input :name, as: :text, html5: true, placeholder: 'Q1' %>
  <%= f.input :name, as: :text, html5: true, placeholder: 'Q2' %>
  <%= f.input :name, as: :text, html5: true, placeholder: 'Q3' %>
  <%= f.submit class: 'btn btn-flat' %>
<% end %>
