<div class="container" data-controller="profile">

  <h1 class="mb-4">Personality test</h1>
  <h2> Tell us what relaxes you </h2>
  <p class="mb-4">(Select 3)</p>

  <%= form_with url:profiles_path, method: :post do |form| %>

    <div class="row row-cols-2 background-personality">

      <div>
        <%= form.check_box :aquarium, class: "checkbox", data: {action: "change->profile#onCheck", "profile-target": "checkbox"} %>
        <%= form.label :aquarium, "A cinematic experience of an aquarium" %>
      </div>

      <div>
        <%= form.check_box :river, class: "checkbox", data: {action: "change->profile#onCheck", "profile-target": "checkbox"} %>
        <%= form.label :river, "A calm flowing river" %>
      </div>

      <div>
        <%= form.check_box :mountains, class: "checkbox", data: {action: "change->profile#onCheck", "profile-target": "checkbox"} %>
        <%= form.label :mountains, "A beautiful landscape of mountains" %>
      </div>

      <div>
        <%= form.check_box :stars, class: "checkbox", data: {action: "change->profile#onCheck", "profile-target": "checkbox"} %>
        <%= form.label :stars, "Travelling throught the stars" %>
      </div>

      <div>
        <%= form.check_box :clouds, class: "checkbox", data: {action: "change->profile#onCheck", "profile-target": "checkbox"} %>
        <%= form.label :clouds, "Being over the clouds" %>
      </div>

      <div>
        <%= form.check_box :flute, class: "checkbox", data: {action: "change->profile#onCheck", "profile-target": "checkbox"} %>
        <%= form.label :flute, "Flute soundscape" %>
      </div>

      <div>
        <%= form.check_box :rain, class: "checkbox", data: {action: "change->profile#onCheck", "profile-target": "checkbox"} %>
        <%= form.label :rain, "Calm rain sound" %>
      </div>

      <div>
        <%= form.check_box :whale, class: "checkbox", data: {action: "change->profile#onCheck", "profile-target": "checkbox"} %>
        <%= form.label :whale, "Singing whales" %>
      </div>


      <div>
          <%= form.check_box :mantra, class: "checkbox", data: {action: "change->profile#onCheck", "profile-target": "checkbox"} %>
          <%= form.label :mantra, "Mantra soundscape" %>
      </div>

      <div>
        <%= form.check_box :forest, class: "checkbox", data: {action: "change->profile#onCheck", "profile-target": "checkbox"} %>
        <%= form.label :forest, "Quiet forest soundscape" %>
      </div>

    </div>

    <div class="d-grid gap-2 col-8 mx-auto my-3">
      <%= form.submit class: "btn btn-primary btn-lg", disabled: 'disabled', data: {"profile-target": "submit"}%>
    </div>

  <% end %>

</div>

<br>
<br>
<br>
<br>
<br>
