 <div class="container background-blog padding-header-navbar px-2 mt-1 card-general">
  <div class="vh-100">
    <h1 class="d-flex justify-content-between">
      <div style="width: 28px"></div>
      <div class="mb-3">Blog</div>
      <%= link_to new_blog_path, class: 'mb-2 mr-2' do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="white" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
      <% end %>
    </h1>

    <%= form_with url: blogs_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an article" %>

      <%= button_tag type: 'submit', class: "button-search" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %>

    <br>
    <br>

    <% @blogs.each do |blog| %>

      <div class="card text-dark bg-light mb-3" style="max-width: 18rem align-items-center pt-2 rounded-right rounded left">
        <div class="card-header">
          <h3 class="card-title-general"><%= link_to blog.title, blog_path(blog), class: "text-decoration-none text-dark card-header-general" %></h3>
        </div>
        <div class="card-body">
          <p class="card-text"><%= blog.content.truncate(100, omission: '... (continued)') %> </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
