
<div class="container background-blog padding-header-navbar px-2 mt-1 ">
  <div class="vh-100">
  <h1 class="mb-3">Blog</h1>
    <div class="card text-dark bg-light mb-7 mx-2" style="max-width: 18rem align-items-center pt-2">
      <div class="card-header">
        <h3 class="card-title-general"><%= @blog.title %></h3>
        <h6><%= @blog.user.first_name%>&nbsp&nbsp<%= @blog.user.last_name%> (<%= @blog.date.strftime("%d %B %Y") %>)</h6>
      </div>

      <div class="card-body">
        <p class="card-text" id="blog-text"><%= @blog.content%></p>
      </div>
    </div>
  </div>
</div>
