
<div class="background-blog padding-header-navbar py-80px">
  <div class="vh-100">
  <h1>Blog</h1>
    <div class="card text-dark bg-light mb-3 mx-2" style="max-width: 18rem align-items-center pt-2">
      <div class="card-header">
        <h3 class="card-title-general"><%= @blog.title %></h3>
        <h6><%= @blog.user.first_name%>&nbsp&nbsp<%= @blog.user.last_name%> (<%= @blog.date %>)</h6>
      </div>

      <div class="card-body">
        <p class="card-text"><%= @blog.content%></p>
      </div>
    </div>
    <div id='return-button'>
    <%= link_to 'Return to blog', blogs_path, class: ' px-3 text-dark text-decoration-none' %>
    </div>
  </div>
</div>
