<nav class="navbar navbar-expand fixed-bottom p-2">

  <%= link_to blogs_path, class: "nav-link" do %>
    <i class="fa-regular fa-comments nav-icon"></i>
    <span class="nav-text">Blog</span>
  <% end %>

  <%= link_to calendar_path, class: "nav-link" do %>
    <i class="fa-regular fa-calendar nav-icon"></i>
    <span class="nav-text">Calendar</span>
  <% end %>

  <%= link_to new_event_path, class: "nav-link" do %>
    <i class="fa-solid fa-plus nav-icon"></i>
    <span class="nav-text">Add event</span>
  <% end %>

  <%= link_to program_path, class: "nav-link" do %>
    <i class="fa-solid fa-list nav-icon"></i>
    <span class="nav-text">Program</span>
  <% end %>


  <% if user_signed_in? %>
    <%= link_to dashboard_path, class: "nav-link" do %>
      <%= image_tag "https://www.pinclipart.com/picdir/big/35-352860_zen-meditation-zen-meditation-chan-meditation-png-zen.png", class: "avatar", data: { bs_toggle: "dropup" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <span class="nav-text">Dashboard</span>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "nav-link" do %>
      <i class="fa-regular fa-circle-user nav-icon"></i>
      <span class="nav-text">Login</span>
    <% end %>
  <% end %>
</nav>
