<nav class="navbar navbar-expand fixed-bottom mt-5 p-2">

    <a href="#" class="nav-link">
    <%= link_to "Blog", blogs_path, class: "nav-link" %>
      <i class="fa-regular fa-comments nav-icon"></i>
      <%# <span class="nav-text">Blog</span> %>
    </a>

  <a href="#" class="nav-link nav-link">
  <%= link_to "Calendar", calendar_path, class: "nav-link" %>
    <i class="fa-regular fa-calendar nav-icon"></i>
    <%# <span class="nav-text">Calendar</span> %>
  </a>


  <a href="#" class="nav-link">
  <%= link_to "Add event", new_event_path, class: "nav-link" %>
    <i class="fa-solid fa-plus nav-icon"></i>
    <%# <span class="nav-text">Add event</span> %>
  </a>


  <a href="#" class="nav-link">
  <%= link_to "Program", resources_path, class: "nav-link" %>
    <i class="fa-solid fa-list nav-icon"></i>
    <%# <span class="nav-text">Program</span> %>
  </a>


  <a href="#" class="nav-link">
    <%# <i class="fa-regular fa-circle-user nav-icon"></i>
    <span class="nav-text">Dashboard</span> %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://www.pinclipart.com/picdir/big/35-352860_zen-meditation-zen-meditation-chan-meditation-png-zen.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </a>

</nav>
