<div class="background-event padding-header-navbar">
  <h1>Your event</h1>

  <div class="card">
      <div class="card-header">
        <h3><%= @event.name %></h3>
      </div>
      <div>
        <p><%= @event.start_time %></p>
        <p><%= @event.end_time %></p>
        <p><%= @event.description %></p>
    </div>
  </div>

  <p><%= @event.diarie.rating if @event.diarie %></p>
  <p><%= @event.diarie.description if @event.diarie %></p>

  <%= link_to 'Add an event review', new_event_diary_path(@event), class: 'btn btn-primary' if @event.diarie.nil? %>

  <%= link_to 'Update event', edit_event_path(@event), class: 'btn btn-primary' %>
  <%= link_to 'Return to calendar', calendar_path, class: 'btn btn-primary' %>
</div>
