<div class="container">
  <h1>Program</h1>
  <%= link_to kinesthetic_path do %>
    <i class="fa-solid fa-dice-d20"></i>
  <% end %>
&nbsp&nbsp
  <%= link_to resources_path do%>
    <i class="fa-solid fa-clapperboard"></i>
  <% end %>

  <% @event.events_resources.each do |events_resource|%>
    <div class="card-test">
      <h6><%= @event.name %></h6>
      <p><%= events_resource.resource.description %></p>
      <% if events_resource.resource.category == 0 %>
        <iframe width="350" height="175" src="<%= events_resource.resource.content %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <% else %>
        <iframe width="100%" height="60" src="<%= events_resource.resource.content %>" frameborder="0" ></iframe>
      <% end %>
  <% end %>
    </div>
</div>
