<div class="background-program padding-header-navbar">
  <div class="container">
    <div class="d-flex justify-content-center">
      <%= link_to kinesthetic_path do %>
        <i class="fa-solid fa-dice-d20 program__icon"></i>
      <% end %>
      <%= link_to video_path do%>
        <i class="fa-solid fa-clapperboard program__icon"></i>
      <% end %>
      <%= link_to audio_path do%>
        <i class="fa-solid fa-headphones program__icon"></i>
      <% end %>
    </div>

    <h1>Your personalized Program</h1>

    <% @event.events_resources.each do |events_resource|%>
        <div class="card text-dark bg-light mb-3" style="max-width: 18rem align-items-center pt-2 rounded-right rounded left">
          <div class="card-header">
            <h3 class="card-title-general">
              <% if events_resource.resource.category == "mixcloud" %>
                <% if events_resource.timing == 60 %>
                  <h6 id='h6-program'>30 minutes before - <%= @event.name %> Day</h6>
                <% elsif events_resource.timing == 1440 %>
                  <h6 id='h6-program'> 3 hours before - <%= @event.name %> Day</h6>
                <% else %>
                  <h6 id='h6-program'> 5 hours before - <%= @event.name %> Day</h6>
                <% end %>
              <% else%>
                <% if events_resource.timing == 60 %>
                  <h6 id='h6-program'>10 minutes before - <%= @event.name %> Day</h6>
                <% elsif events_resource.timing == 1440 %>
                  <h6 id='h6-program'> 1 hour before - <%= @event.name %> Day</h6>
                <% else %>
                  <h6 id='h6-program'> 1 day before - <%= @event.name %> Day</h6>
                <% end %>
              <% end %>
            </h3>
          </div>
          <div class="card-body">
            <p class="card-text">
            <%= events_resource.resource.description %></p>
            <div class="my-2">
              <% if events_resource.resource.category == "mixcloud" %>
                <iframe width="100%" height="60" src="<%= events_resource.resource.content %>" frameborder="0" ></iframe>
              <% else %>
                <iframe width="318" height="120" src="<%= events_resource.resource.content %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
